.nav-item {

  border: 2px solid BLACK;
  background-color: #f2ca52;
  color: $dark-text;
  
}

.menu {
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}
