@font-face {
  font-family: 'mariofont';
    src: url('./../assets/Mario-Kart-DS.ttf')
}

.page-title {
  text-align: center;
  padding: .5rem 0;
  position: relative;
  margin: 0;

  background-color: $dark-background;
color:$light-text;
border-bottom: 2px solid $dark-border;

  h1{
background-color: $dark-background;
    font-size: 4rem;
    font-weight: bold;
    font-family: mariofont;
  }

  p {
    position: absolute;
    margin-right:5px;
    right: 0px;

  }

}
