$hero-height: 50vh;
@font-face {
  font-family: mariofont;
    src: url('./../assets/Mario-Kart-DS.ttf') format('truetype');

}
.hero-section {

  height: $hero-height;
  background-color: $light-background;


  border-bottom: 3px solid $dark-border;
  display: flex;
flex-direction: column;
  .hero-section-text {


    margin: 50px 0px 50px 20px;

    background-color: $dark-background;
  color:$light-text;


    h1{
  background-color: $dark-background;
      font-size: 8rem;
      font-weight: bold;
      font-family: mariofont;
    }
    p {
      font-size:1.1rem;
      padding: 0px;
      margin: 0px 0px 8px 0px;

    }


  }
}
