.modal-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: stretch;
  margin:5px;

}

.voting-button-container {

    border-top: $dark-border;
    display: flex;
    padding: 5px 0px 0px 0px;
    align-items: flex-end;
    justify-content: space-between;

}

.voting-button {
  max-width: 200px;
  border: 10px solid black;
  padding: 2px;
  flex-grow: 1;
}

.vote-container {
  display: flex;
  justify-content: space-around;
  width:100%;
  align-items: stretch;
  margin:5px;
}
.vote-result {
  width: 200px;
  padding: 2px;
  font-size: 20px;
text-align: center;
  color:$dark-text;
  align-self: center;
}

.win {
  border: 2px solid $green;
  background-color: $green-countdown;
}



.lose {
  border: 2px solid $red;
  background-color: $red-countdown;
}

.tie {
  border: 2px solid $yellow;
  background-color: $yellow-countdown;

}
