.tool, .sizes {
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.tool {
  width: 25%;
}

.github-picker {
  margin: auto;
}

#brushes {
  display: inline;
}

// .small {
//   width: 33%;
// }
//
// .medium {
//   width: 33%;
// }
//
// .large {
//   width: 33%;
// }

// #svgContainer {
//   display: inline-block;
//   width: 40%;
// }
//
// #smallSize {
//   width: 33%;
//   display: inline-block;
// }
//
// #mediumSize {
//   width: 33%;
//   display: inline-block;
// }
//
// #largeSize {
//   width: 33%;
//   display: inline-block;
// }
