@import '~foundation-sites/scss/foundation';
@include foundation-everything;
@import "styles/base/variables";


//override foundation nav styling
.top-bar{
  border-bottom: 2px solid $dark-border;
  background-color: $dark-background;
}

//override foundation button styling
.button{
  margin:0px;
  border:1px solid $dark-border;
 padding: .5rem;
}

select {
  background-image: none;
}

.container {
    margin: auto;
    text-align: center;

    &__image {
        width: 100px;
        height: auto;
    }
}
html {
  height: 100%;
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0px 0px 57px 0px;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: $light-grey-background-complement;
}
