@import '~foundation-sites/scss/foundation';
@include foundation-everything;

.container {
    margin: auto;
    text-align: center;

    &__image {
        width: 100px;
        height: auto;
    }
}
