.chat-container {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin-top: 10px
}

.message-container {
  border: 1px solid;
  margin: 1px;
  height: 200px;
  overflow-y: auto;
  p {
    margin:0px 0px 0px 1px;
    padding:0px;
  }
}

.input-container{
  display: flex;
}
