.chat-container {
  border: 2px solid $dark-border;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  margin: 12px 7px 7px 7px;
  padding: 3px;
}

.message-container {
  border: 2px solid $dark-border;
  border-radius: 3px;
  margin: 3px;
  height: 200px;
  background-color: $light-grey-background;
  overflow-y: auto;
  p {
    border-bottom: 1px solid $dark-border;
    margin:0px 0px 0px 1px;
    padding:0px;
  }
  p:nth-child(even) {
    background-color: $light-grey-background-complement;
  }
}

.input-container{
  margin:3px;
  display: flex;
  align-items:stretch;
  input{
    margin: 0px;
  }
}
