/*COLOR PALLETTE LINK
https://color.adobe.com/Super-Mario-color-theme-1210609/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Super%20Mario&mode=rgb&rgbvalues=0.94902,0.019608,0.188235,0.015686,0.407843,0.74902,0.019608,0.686275,0.94902,0.015686,0.74902,0.2,0.94902,0.792157,0.321569&swatchOrder=0,1,2,3,4
 */

$red: #F20530;
$blue: #0468BF;
$light-blue: #05AFF2;
$green: #04BF33;
$yellow: #F2CA52;


//TEXT VARIABLES
$dark-text: #0468BF;
$darker-text: #0468BF;
$darkest-text: #0468BF;

$light-text: #D1F7ED;

//BORDER VARIABLES

$dark-border: #0468BF;


//BACKGROUND VARIABLES

$dark-background: #05AFF2;
$light-grey-background: #eaeaea;
$light-grey-background-complement: #FCFCFD;

$light-background: $light-blue;

//BUTTON VARIABLES
