$infra-red: #EF476F;
$orange-yellow: #FFd166;
$caribbean-green: #06d6a0;
$cyan-cornflower-blue: #118ab2;
$warm-black: #073b4c;

//TEXT VARIABLES
$dark-text: #0468BF;
$darker-text: #0468BF;
$darkest-text: #0468BF;

$light-text: #D1F7ED;

//BORDER VARIABLES

$dark-border: #0468BF;


//BACKGROUND VARIABLES

$dark-background: #05AFF2;

$light-background: grey;

//BUTTON VARIABLES
